name: Linter and test

on:
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  linter_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    
    - name: ktlintCheck
      run: ./gradlew ktlintCheck

    - name: Test
      run: ./gradlew test
  
